body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  align-items: center;
  height: 80vh;
  background-color: #756969;
}

* {
  box-sizing: border-box;
}

button {
  background-color: #222;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  min-width: 300px;
  border-radius: 80px;
}

.btn1 {
  background-color: #c35555;
  color: #000;
}

.btn2 {
  background-color: #140202;
  color: #fff;
}

.btn3 {
  background-color: #a6c355;
  color: #fff;
}

.btn {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 200px;
  gap: 3rem;
}

.btn4 {
  background-color: aqua;
  color: #000;
}